.block-selection {
    flex: 1; 
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #212121;
    color: white;
    overflow-y: auto;
    margin-top: 10px;
    padding: 10px;
    max-height: 33%;
    min-height: 25%;
    gap: 10px;
  }

.block {
    padding: 10px;
    background-color: #1e1e1e;
    color: #ffffff;
    border-radius: 8px;
    border: 2px solid #3a3a3a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: grab;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-width: 150px;
    height: 50%;
}

.block-content {
    display: flex;
    gap: 10px; 
    align-items: center;
    justify-content: center;
}

.io-block {
    background-color: #333;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 0.85em;
    color: #ddd;
}

.input-block {
    background-color: #4E5A65;
}

.output-block {
    background-color: #5A4E65; 
}

.main-block {
    padding: 8px 16px;
    background-color: #424242; 
    font-weight: bold; 
    color: #E0E0E0; 
}

.block.dragging {
    opacity: 0.5;
    border-color: #5577ee; 
}


.block:hover {
    border-color: #778899;
}
