.block-selection {
    flex: 1; 
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #212121;
    color: white;
    overflow-y: auto;
    margin-top: 10px;
    padding: 10px;
    max-height: 33%;
    min-height: 25%;
    gap: 10px;
  }

.block.dragging {
    opacity: 0.5;
    border-color: #5577ee; 
}


.block:hover {
    border-color: #778899;
}
