.canvas-block {
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #1a1a1a;
    color: white;
    margin: 10px;
    cursor: grab;
    height: 80%;
    position: relative;
    box-shadow: 0 15px 8px 0 rgba(0,0,0,0.3);
  }
  
  .canvas-block.function {
    grid-row: span 2;
  }

  .block-header {
    padding: 5px;
    height: 20px;
    border-radius: 20%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
  
  .block-name {
    font-weight: bold;
  }
  
  .block-type {
    font-size: 0.8em;
    opacity: 0.7;
  }
  
  .block-body {
    padding: 10px;
    height: 71%;
    background-color: #2a2a2a;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .connectors {
    display: flex;
    justify-content: space-between;
    align-items: top;
  }
  .input-connector, .output-connector {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #2a2a2a;
  }
  

  .function-connectors .input-connector {
    background-color: green;
  }
  
  .function-connectors .output-connector {
    background-color: red;
  }
  
  .input-connectors .output-connector {
    display: flex;
    background-color: red;
  }

  .input-connectors .input-connector {
    display: flex;
  }

  .input .connected-right .output-connector {
    display: flex;
    background-color: green
  }
  
  .output-connectors .input-connector {
    background-color: green;
  }

  .output-connectors .output-connector {
    background-color: red;
  }
  
  .dragging {
    opacity: 0.5;
  }
  
  .input-connector.connected,
.output-connector.connected {
  background-color: green; 
}


.canvas-block .connected-right::after {
  content: '';
  position: absolute;
  right: -32px; 
  top: 50%;
  width: 41px; 
  border: 1px solid black;
  height: 2px; 
  background-color: white;
  transform: translateY(-990%);
  z-index: 2;
}

.canvas-block .connected-up::before {
    content: '';
    position: absolute;
    top: -64px; 
    left: 50%;
    width: 2px;
    border: 1px solid black;
    height: 77px; 
    background-color: white; 
    transform: translateX(-50%);
    z-index: 2;
  }
  
  
  
  .up-connector, .down-connector {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #2a2a2a;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .up-connector {
    bottom: 80%;
    margin-bottom: -7.5px;
  }
  
  .down-connector {
    top: 80%;
    margin-top: -7.5px;
  }
  
  .up-connector.connected,
  .down-connector.connected {
    background-color: green;
  }
  
  .block-value {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5em;
    overflow: hidden;
  }

  .edit-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(90%);
    cursor: pointer;
    color: gray;
  }
  
  .block-value input {
    width: 100%;
    padding: 5px;
    margin-top: 5px; 
    color: black; 
    background-color: white; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
  }
  