.canvas-area {
    flex: 4;
    display: grid;
    grid-template-columns: repeat(20, 1fr); 
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #212121;
    overflow: auto;
    border: 1px solid #444;
}

.canvas-area::before,
.canvas-area::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.canvas-area::before {
    background-image: 
                      linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: calc(100% / 20) 100%, 100% calc(100% / 6);
}

.canvas-area::after {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 100% calc(100% / 6);
}

.canvas-block {

    color: white;
    border-radius: 8px;


    text-align: start;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center; 
    z-index: 1;
    margin-top: 3px;
}

.block-content {
    display: flex;
    gap: 10px; 
}

.io-block {
    background-color: #333; 
    border: 2px solid #666; 
    border-radius: 4px; 
    padding: 4px 8px;
    font-size: 0.8em;
    color: #ddd; 
}

.input-block {
    background-color: #4E5A65; /
}

.output-block {
    background-color: #5A4E65; 
}

.main-block {
    background-color: #555; 

}
