.canvas-block {
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #1a1a1a;
    color: white;
    margin: 10px;
    cursor: grab;
    height: 40px;
    position: relative;
  }
  
  .canvas-block.function {
    grid-row: span 2;
  }

  .block-header {
    padding: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .block-name {
    font-weight: bold;
  }
  
  .block-type {
    font-size: 0.8em;
    opacity: 0.7;
  }
  
  .block-body {
    padding: 10px;
    height: 100%;
    background-color: #2a2a2a;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .connectors {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .input-connector, .output-connector {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #2a2a2a;
  }
  

  .function-connectors .input-connector {
    background-color: green;
  }
  
  .function-connectors .output-connector {
    background-color: red;
  }
  
  .input-connectors .output-connector {
    display: flex;
    background-color: red;
  }

  .input-connectors .input-connector {
    display: flex;
  }

  .input .connected-right .output-connector {
    display: flex;
    background-color: green
  }
  
  .output-connectors .input-connector {
    background-color: green;
  }

  .output-connectors .output-connector {
    background-color: red;
  }
  
  .dragging {
    opacity: 0.5;
  }
  
  .input-connector.connected,
.output-connector.connected {
  background-color: green; 
}

.canvas-block .connected-left::before {
  content: '';
  position: absolute;
  left: -21px; 
  top: 50%;
  width: 21px;
  height: 2px; 
  background-color: white; 
  transform: translateY(-50%);
  z-index: 2;
}


.canvas-block .connected-right::after {
  content: '';
  position: absolute;
  right: -31px; 
  top: 50%;
  width: 40px; 
  height: 2px; 
  background-color: white;
  transform: translateY(-50%);
  z-index: 2;
}

.canvas-block .connected-up::before {
    content: '';
    position: absolute;
    top: -44px; 
    left: 50%;
    width: 2px;
    border: 1px solid black;
    height: 46px; 
    background-color: white; 
    transform: translateX(-50%);
    z-index: 2;
  }
  
  
  
  .up-connector, .down-connector {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #2a2a2a;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .up-connector {
    bottom: 80%;
    margin-bottom: -7.5px;
  }
  
  .down-connector {
    top: 80%;
    margin-top: -7.5px;
  }
  
  .up-connector.connected,
  .down-connector.connected {
    background-color: green;
  }
  
  