.canvas-area {
    display: grid;
    flex: 4;
    grid-template-columns: repeat(10, 200px);
    grid-template-rows: repeat(4, 160px);
    background-color: #212121;
    border: 2px solid #333;
}

.block-content {
    display: flex;
}

.function {
    background-color: #ff7f00; /* Orange color for functions */
}

.input {
    background-color: #2d572c; /* Green color for inputs */
}

.output {
    background-color: #0057b8; /* Blue color for outputs */
}

.variable {
    background-color: #a349a4; /* Purple color for variables */
}
