.canvas-area {
    display: grid;
    flex: 4;
    grid-template-columns: repeat(10, 200px);
    grid-template-rows: repeat(4, 100px);
    background-color: #212121;
    border: 2px solid #333;
}

.block-content {
    display: flex;
}

.function {
    background-color: #ac693a; 

}

.input {
    background-color: #4E5A65; /
}

.output {
    background-color: #5A4E65; 
}

.main-block {
    background-color: #555; 

}
