.App {
  text-align: center;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.main-content {
  padding-top: 70px; 
  padding-bottom: 70px; 
  min-height: 100vh; 
}


